@import "./base.scss";

.page {
    display:none;
}
.page[active] {
    display:block;
}

#header {
    background-color: blue;
    color: white;
}

panel-current-playback {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}