@import "./base.scss";

:host {
    border: 1px solid var(--lumo-shade);
    display:flex;
    flex-direction: column;
}

#lower {
    display:flex;
}
#lower > div {
    flex-grow: 1;
    padding: 5px;
}

#main-controls .buttons {
    display:flex;
    justify-content: center;
}

.flex {
    display:flex;
}
.flex-grow {
    flex-grow: 1;
}