

:host {
    max-width: 100%;
    border: 1px dashed var(--lumo-contrast-20pct);
    border-radius: var(--lumo-border-radius);
    padding: var(--lumo-space-m);
    transition: background-color 0.6s, border-color 0.6s;
}

:host([dropAvailable]) {
    border: 1px dashed var(--lumo-primary-color);
    color: var(--lumo-primary-text-color)
}

.file {
    display: flex;
}
.file-info {
    flex-grow: 1;
}
.file-command {
    transform: scale(0.8);
}